<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Edit Farm</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<form #formCtrl="ngForm">
<ion-item>
   <ion-label floating>Farm Name</ion-label>
   <ion-input type="text" [(ngModel)]="farm.farmname" name="farmName" required></ion-input>
</ion-item>
<ion-item>
  <ion-label>Soil Type</ion-label>
        <ion-select [(ngModel)]="farm.soiltype" name="soilType" required>
          <ion-option *ngFor="let soilType of soilTypes" value="{{soilType.soiltype}}">{{soilType.soiltype}}</ion-option>
        </ion-select>
</ion-item>

<ion-item>
  <ion-label stacked>Latitude</ion-label>
    <ion-select [(ngModel)]="farm.latindex" name="latIndex" (ionChange)="reloadMap()" required>
      <ion-option *ngFor="let lat of latitudes" value="{{lat.latindex}}">{{lat.latcoordinate}}</ion-option>
    </ion-select>
</ion-item>
<ion-item>
  <ion-label stacked>Longitude</ion-label>
    <ion-select [(ngModel)]="farm.lonindex" name="lonIndex" (ionChange)="reloadMap()" required>
      <ion-option *ngFor="let lon of longitudes" value="{{lon.lonindex}}">{{lon.loncoordinate}}</ion-option>
    </ion-select>
</ion-item>
<ion-item>
  <button ion-button block (click)="getGPS()">Use GPS</button>
</ion-item>

</form>

<div #map id="map"></div>

<ion-item>
  <ion-label> Master Control</ion-label>
  <ion-select [(ngModel)]="mastercontrol.controlid" (ionChange)="getIP()">
    <ion-option *ngFor="let mc of mastercontrols" value="{{mc.controlid}}">
      #{{mc.controlid}} // {{mc.ipaddress}}
    </ion-option>
    <ion-option  value="new">
      New MasterControl
    </ion-option>
  </ion-select>
</ion-item>
<div *ngIf="this.mastercontrol.controlid">
  <ion-item >
     <ion-label floating>Static IP Address</ion-label>
     <ion-input type="text" [(ngModel)]="mastercontrol.ipaddress" name="ipAddress" required></ion-input>
     
  </ion-item>
  <button *ngIf="mastercontrol.controlid != 'new'" ion-button round (click)="editMasterControl()">Edit</button>
   <button *ngIf="mastercontrol.controlid==='new'" ion-button round (click)="addMasterControl()">Add</button>
</div>

<button ion-button block (click)="editFarm()" [disabled]="!formCtrl.form.valid">Save</button>

</ion-content>