<ion-header>
  <ion-navbar color="primary">
 
    <ion-title>Add</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)= "closeModal1()">
        <ion-icon name="close"></ion-icon></button>
    </ion-buttons> -->

  </ion-navbar>
</ion-header>

<ion-content padding>
 
<form #formCtrl="ngForm">
 
  <ion-row>
    <ion-col width-80>
      <ion-item>
       
       <ion-label floating>Farm Name</ion-label>
       
        <ion-select [(ngModel)]="crop.farmid" name="farmid" (ionChange)="loadFarmZones()" required>
          <ion-option *ngFor="let farm of farms" value="{{farm.farmid}}">{{farm.farmname}}</ion-option>
        </ion-select>

      </ion-item>
    </ion-col>
    <ion-col width-20>
      <button ion-button icon-only (click)="launcharFarmPage()">
        <ion-icon name="add-circle"></ion-icon>
      </button>

  </ion-col>   
</ion-row>

 <ion-row>
    <ion-col width-80>
      <ion-item>
        <ion-label floating>Irrigation Zone</ion-label>
            
        <ion-select [(ngModel)]="crop.izid" name="izid" required>
          <ion-option *ngFor="let zone of farmZones" value="{{zone.izid}}">{{zone.izname}}</ion-option>
        </ion-select>

      </ion-item>
    </ion-col>
    <ion-col width-20><button ion-button icon-only (click)="launcharZonePage()" [disabled]="!crop.farmid">
        <ion-icon name="add-circle"></ion-icon>

        
      </button>
  </ion-col>   
</ion-row>

<ion-row>
  <ion-col >
    <ion-item>
      <ion-searchbar class="transparent" [(ngModel)]="searchCropString" (ionInput)="searchCrop()" name="searchCrop" [showCancelButton]="shouldShowCancel" placeholder="Search Crop"></ion-searchbar>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col >
    <ion-item>
      <ion-label floating>Crop</ion-label>
        <ion-select [(ngModel)]="crop.infoid" name="crop" required>  
          <ion-option *ngFor="let info of cropinfos" value="{{info.infoid}}">
            <ion-item >{{info.cropname}} - {{info.plantdate}} @ {{info.region}}</ion-item>
          </ion-option>
        </ion-select>
    </ion-item>
  </ion-col>   
</ion-row>

<button ion-button round (click)="addCrop()" block [disabled]="!formCtrl.form.valid">Add</button>
</form>
      

</ion-content>

