<ion-header>

  <ion-navbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Account Info.</ion-title>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="settings.typeofuser==='Admin'" (click)="allCrops()">
        <ion-icon name="flower"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="!edit" (click)="enable()">
        <ion-icon name="paper"></ion-icon>
      </button>
    </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="!edit">
  <ion-card >
    <ion-list>
      <ion-item>
        <b>Full Name:</b> {{settings.fullname}}
      </ion-item>
       <ion-item>
        <b>Username:</b> {{settings.username}}
      </ion-item>
       <ion-item>
        <b>Email:</b> {{settings.email}}
      </ion-item>
    </ion-list>
  </ion-card>
  </div>

  <div *ngIf="edit">
  <form #formCtrl="ngForm">
  <ion-item>
     <ion-label stacked>Full Name</ion-label>
     <ion-input type="text" [(ngModel)]="settings.fullname" name="fullName" required ></ion-input>
  </ion-item>
  <ion-item>
     <ion-label stacked>Username</ion-label>
     <ion-input type="text" [(ngModel)]="settings.username" name="userName" required ></ion-input>
  </ion-item>
  <ion-item>
     <ion-label stacked>Email</ion-label>
     <ion-input type="email" [(ngModel)]="settings.email" name="email" required ></ion-input>
  </ion-item>

  <ion-item *ngIf="!changePassword">
     <button ion-button (click)="changePassword=true">Change Password</button>
  </ion-item>
  <div *ngIf="changePassword">
    
    <ion-item>
       <ion-label stacked>New Password</ion-label>
       <ion-input type="password" [(ngModel)]="newPassword" name="newpassword" ></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Confirm New Password</ion-label>
       <ion-input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" ></ion-input>
    </ion-item>
    <ion-item>
       <button ion-button (click)="changePassword=false">Cancel</button>
    </ion-item>
  </div>

  <ion-item>
     <ion-label stacked>Current Password</ion-label>
     <ion-input type="password" [(ngModel)]="verifyPassword" name="verifyPassword" required></ion-input>
  </ion-item>
  </form>

 <ion-row>
    <ion-col col-4>
      <button ion-button [disabled]="!formCtrl.form.valid" (click)="save()" round>Save</button>
    </ion-col>
    <ion-col col-8>
    <button ion-button (click)="cancel()" round>Cancel</button>
    </ion-col>
  </ion-row>
  </div>

</ion-content>


 




