<ion-header>

  <ion-navbar color="dark">
    <ion-title>Edit Zone</ion-title>
    
    </ion-navbar>

</ion-header>

<ion-content padding>
<form #formCtrl="ngForm">
<ion-item>
  <ion-label floating>Zone Name</ion-label>
          <ion-input type="text" [(ngModel)]="zone.izname" name="zoneName" required></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Acres</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="zone.acres" name="acres" required></ion-input>
</ion-item>
<ion-item>
<ion-label floating>Waterflow (gal/min)</ion-label>
        <ion-input type="number" [(ngModel)]="zone.waterflow" name="waterFlow" required></ion-input>
</ion-item>
<ion-item>
  <ion-label>Irrigation Method</ion-label>
        <ion-select [(ngModel)]="zone.irrigationmethod" name="irrigationMethod" (ionChange)="updateEfficiency()" required>
          <ion-option *ngFor="let method of irrigationMethods" value="{{method.irrigationmethod}}">{{method.irrigationmethod}} (~%{{method.ea}})</ion-option>
        </ion-select>
</ion-item>

<ion-item>
  <ion-label stacked>Irrigation Efficiency (%) 
  <br>minimum 50%</ion-label>
          <ion-input type="number" max="100" min="50" step="1" [(ngModel)]="zone.irrigationefficiency" name="irrigationEff" required></ion-input>
</ion-item>
<button ion-button round (click)="editIrrigationZone()" block [disabled] = "!formCtrl.form.valid || zone.irrigationefficiency < 50" >Save</button>
</form>
<ion-item-divider></ion-item-divider>
<button ion-button icon-start (click)="deleteZone(zone)" color="danger">
    <ion-icon name="trash"></ion-icon>
    Delete Zone
</button>

<div *ngIf="this.auth.isHardware()">
  <ion-item>
    <ion-label> Valve Control</ion-label>
    <ion-select [(ngModel)]="control.controlid" (ionChange)="getValveID()">
      <ion-option *ngFor="let mc of mastercontrols" value="{{mc.controlid}}">
        #{{mc.controlid}} // {{mc.ipaddress}}
      </ion-option>
    </ion-select>
  </ion-item>
  <div *ngIf="this.control.controlid">
    <ion-item >
       <ion-label floating>Local Valve ID</ion-label>
       <ion-input type="number" [(ngModel)]="control.valveid" name="valveid" required></ion-input>
    </ion-item>
    <ion-buttons *ngIf="!control.new">
      <button ion-button round (click)="editValveControl()">
      <ion-icon name="paper"></ion-icon> Control</button>
      <button ion-button round (click)="showConfirmDelete()" color="danger">
      <ion-icon name="trash"></ion-icon> Control</button>
    </ion-buttons>
     <button *ngIf="control.new" ion-button round (click)="addValveControl()">
     <ion-icon name="add"></ion-icon> Control</button>
  </div>
</div>


</ion-content>