<ion-header>
  <ion-navbar color="dark">
    
    <ion-buttons start>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
   Today's Recomendation
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="info()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      
      <button ion-button icon-only (click)="cropHistory()">
        <ion-icon name="calendar"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding text-wrap>
<ion-list>
  <ion-list-header>
    <h1>{{crop.cropname}}</h1>
    <h3> {{crop.izname}}, {{crop.farmname}}</h3>
  </ion-list-header>

  <ion-item-divider>
    ETc ({{types.mm}})
  </ion-item-divider>
  <ion-item>
    <ion-label>
       {{history.recommendedet}}
    </ion-label>
  </ion-item>

  <ion-item-divider>
      Rainfall ({{types.mm}})
    </ion-item-divider>
  <ion-item>
    
      <ion-input type="text" [(ngModel)]="history.rainfall" name="rainfall" required (change)="changeRainfall()"></ion-input>
  </ion-item>

  <ion-item-divider>
    Recommended
  </ion-item-divider>
  <ion-item>
    <ion-input type="text" [(ngModel)]="rec.amount" name="todaysRec" required (change)="changeAmount()"></ion-input>
    <ion-select (ionChange)="changeAmountType()" [(ngModel)]="rec.type" name="amountType" required>
      <ion-option value="{{types.gal}}" selected>{{types.gal}}</ion-option>
      <ion-option value="{{types.L}}">{{types.L}}</ion-option>
      <ion-option [disabled]="crop.waterflow==0" value="{{types.hr}}">{{types.hr}}</ion-option>
      <ion-option value="{{types.mm}}">{{types.mm}}</ion-option>
      <ion-option value="{{types.in}}">{{types.in}}</ion-option>
    </ion-select>
  </ion-item> 
</ion-list>

  <button ion-button *ngIf="!stopIrrigationFlag" (click)="irrigate()" round>Irrigate</button>
  <button ion-button *ngIf="stopIrrigationFlag" (click)="stopIrrigation()" color="danger" round>Stop</button>

</ion-content>
